body {
font-family: 'Poppins', sans-serif;
margin:0;
background: linear-gradient(135deg,#ff416c,#ff4b2b);
color:white;
}

.navbar {
display:flex;
justify-content:space-between;
padding:15px;
background:rgba(0,0,0,0.7);
animation:slideDown 1s;
}

.navbar ul {
display:flex;
list-style:none;
gap:15px;
}

.navbar a {color:white;text-decoration:none;}

.hero {
text-align:center;
padding:100px 20px;
animation:fadeIn 2s;
}

.btn {
padding:12px 25px;
background:white;
color:#ff416c;
border-radius:20px;
}

.features {
display:flex;
justify-content:center;
gap:20px;
}

.card {
background:white;
color:black;
padding:20px;
border-radius:15px;
animation:zoomIn 1s;
}

.container {
padding:30px;
}

input, button {
padding:10px;
margin:10px 0;
width:100%;
border:none;
border-radius:10px;
}
.popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background: green;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
}
button {background:#ff416c;color:white;}

@keyframes fadeIn {from{opacity:0;} to{opacity:1;}}
@keyframes zoomIn {from{transform:scale(0);} to{transform:scale(1);}}
@keyframes slideDown {from{transform:translateY(-50px);} to{transform:translateY(0);}}

